<!-- <mat-card>
    <mat-card-content>
      
      <table class="user-table">
        <tr>
        <th>Name</th>
        <th>Price</th>
        <th>State</th>
        <th>Orders</th>
        <th>Revenue</th>
      </tr>
      <tr *ngFor="let product of allProducts" [routerLink]="'/product/' + product.customIdName" routerLinkActive="router-link-active">
        <td>{{ product.productName }}</td>
        <td>{{ product.productPrice }}</td>
        <td>{{ product.productIsActive }}</td>
        <td>{{ product.productIsActive }}</td>
        <td>{{ product.productIsActive }}</td>
      </tr>
      </table>
      
    </mat-card-content>
  </mat-card> -->

  <app-table-products></app-table-products>