.user-detail-header {
  background-color: #144a8f;
  min-height: 125px;
//   width: 100%;
  color: white;

  display: flex;
  align-items: flex-end;

  img {
    border-radius: 100%;
    object-fit: cover;
    width: 100px;
    height: 100px;
  }
}

.user-details {
margin-left: 32px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
height: 100px;

h2 {
    margin-bottom: 0;
}
}

.iconmenu-top-corner {
    position: absolute;
    top: 16px;
    right: 16px;
}
