.mat-drawer-container {
  height: 100vh;
}

.menu-icon {
  cursor: pointer;
}

.sidenav {
  width: 250px;
  background-color: rgb(44, 44, 56);
  color: white;
}

.logo-container {
  border-bottom: 1px solid rgba(0, 0, 0, 0.04);
  padding: 0px 16px;
  min-height: 56px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  img {
  height: 24px;
  }
}

.profile-image {
  width: 80px;
  height: 80px;
}

mat-toolbar,
mat-toolbar-row {
  min-height: 56px;
  height: 56px;
}

mat-toolbar {
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.04);
}

ul {
  list-style: none;
  padding-left: 0px;
  margin: 0;

  li {
    display: flex;
    align-items: center;
    padding: 0 16px;
    height: 32px;
    cursor: pointer;

    mat-icon {
      margin-right: 16px;
    }

    &:hover {
      background-color:  rgba(0, 0, 0, 0.04);
    }

    &:focus {
        outline: none;
    }
  }
}



.footer-container {
  position: absolute;
  bottom: 0px;
  width: calc(100% - 16px);
  padding: 16px 16px 16px 0px;

  border-top: 1px solid rgba(255, 255, 255, 0.4);
}

.logo-bottom {
  position: relative;
  bottom: 0;
}