<ng-container *ngIf="isLoggedIn">
<mat-drawer-container class="mat-drawer-container" autosize>
  <mat-drawer #drawer class="sidenav" [mode]="mobileQuery.matches ? 'push' : 'side'" [opened]="mobileQuery.matches ? 'false' : 'true'">
    <div class="logo-container" ><img routerLink="/dashboard" routerLinkActive="router-link-active" src="/assets/img/logo2.png" alt=""> <mat-icon class="menu-icon">account_circle</mat-icon></div>
    <div class="flex-center flex-col gap2 mt-32">
      <img class="profile-image" src="/assets/img/profile1x.png" alt="">
      <div class="flex-col gap">
        <div><strong>Christian Hansen</strong></div>
        <div>christian@example.com</div>
      </div>
    </div>
    <div>
     
    <ul>
      <li class="mt-16" routerLink="/dashboard" routerLinkActive="router-link-active" ><mat-icon>view_list</mat-icon>Dashboard</li>
      <li routerLink="/user" routerLinkActive="router-link-active" ><mat-icon>people</mat-icon>Customers</li>
      <li routerLink="/orders" routerLinkActive="router-link-active" ><mat-icon>local_shipping</mat-icon>Orders</li>
      <li routerLink="/products" routerLinkActive="router-link-active" ><mat-icon>home_repair_service</mat-icon>Products</li>

    </ul>

  </div>

    <div class="footer-container">
      <ul class="pb-16">
        <li routerLink="/imprint" routerLinkActive="router-link-active" ><mat-icon>info</mat-icon>Imprint</li>
        <li routerLink="/privacy" routerLinkActive="router-link-active" ><mat-icon>info</mat-icon>Privacy Policy</li>
        <li routerLink="/user" routerLinkActive="router-link-active" ><mat-icon>help</mat-icon>Help TBD</li>
        <li (click)="authService.signOut()" ><mat-icon>home_repair_service</mat-icon>SignOut</li>
      </ul>
      <div class="flex-center logo-bottom"><img class="profile-image" src="/assets/img/logo.png" alt=""></div>
    </div>
    
  </mat-drawer>

  <div class="example-sidenav-content">
    <mat-toolbar>
      <mat-toolbar-row>
        <mat-icon class="menu-icon" (click)="drawer.toggle()">menu</mat-icon>
      </mat-toolbar-row>
    </mat-toolbar>

    <div class="router-container">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-drawer-container>
</ng-container>
<ng-container *ngIf="!isLoggedIn">
<app-login></app-login>
</ng-container>