<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
<h1 mat-dialog-title>Add Order</h1>
<div mat-dialog-content>
  <div>
    <mat-form-field appearance="outline" class="mr-16">
            <mat-label>Select Product</mat-label>
            <mat-select [(ngModel)]="productId" name="value">
              <mat-option *ngFor="let product of allProducts" value="{{product.customIdName}}">{{product.productName}}</mat-option>
            </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Select Amount</mat-label>
      <input type="number" [disabled]="loading" [(ngModel)]="order.amount" matInput placeholder="" value="0"/>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline" class="full-width">
        <mat-label>Select Customer</mat-label>
        <mat-select [(ngModel)]="customerId" name="value">
          <mat-option *ngFor="let customer of allUsers" value="{{customer.customIdName}}">{{customer.firstName}} {{customer.lastName }} ({{customer.email}})</mat-option>
        </mat-select>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Order Date</mat-label>
      <input [disabled]="loading" [(ngModel)]="order.createDate" (ngModelChange)="onDateChange($event)" matInput [matDatepicker]="picker1" [min]="minDate" [max]="maxDate">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
  </div>

</div>
<div mat-dialog-actions>
  <button [disabled]="loading" mat-button mat-dialog-close>Cancel</button>
  <button [disabled]="loading" mat-button cdkFocusInitial (click)="saveOrder()">Save</button>
</div>
