<div class="mat-elevation-z8">
  <mat-table mat-table class="full-width-table" matSort aria-label="Elements">
    <!-- Name Column -->
    <ng-container matColumnDef="productName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Product Name</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.productName}}</mat-cell>
    </ng-container>



        <!-- State Column -->
        <ng-container matColumnDef="productIsActive">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Product State</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.productIsActive}}</mat-cell>
        </ng-container>

            <!-- Price Column -->
    <ng-container matColumnDef="productPrice">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Product Net Price</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.productPrice}} €</mat-cell>
    </ng-container>

    <!-- Orders Column -->
    <ng-container matColumnDef="orders">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Total Orders</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.orders.length}}</mat-cell>
    </ng-container>

    <!-- Revenue Column -->
        <ng-container matColumnDef="revenue">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Total Net Revenue</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.orders.length * row.productPrice}} €</mat-cell>
        </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator
      [length]="dataSource.data.length"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]"
      aria-label="Select page">
  </mat-paginator>
</div>
