<mat-card>
  <mat-card-content>
    
    <table class="user-table">
      <tr>
      <th>Name</th>
      <th>E-Mail</th>
      <th>City</th>
    </tr>
    <tr>
      <td>Hans Müller</td>
      <td>hans@mueller.de</td>
      <td>München</td>
    </tr>
    <tr>
      <td>Hans Müller</td>
      <td>hans@mueller.de</td>
      <td>München</td>
    </tr>
    </table>
    
  </mat-card-content>
</mat-card>

<button class="add-user-btn" mat-fab color="primary" matTooltip="Add user" matTooltipPosition="above"
matTooltipHideDelay="1000"
(click)="openDialog()">
    <mat-icon>add</mat-icon>
  </button>
