<app-dashboard-user-data></app-dashboard-user-data>

<mat-card class="mt-32">
  <mat-card-content>
    
    <table class="user-table">
      <tr>
      <th>Name</th>
      <th>E-Mail</th>
      <th>Birth date</th>
      <th>Country</th>
      <th>Create Date</th>
    </tr>
    <tr *ngFor="let user of allUsers" [routerLink]="'/user/' + user.customIdName" routerLinkActive="router-link-active">
      <td>{{ user.firstName }} {{ user.lastName }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.birthDate | date:'shortDate'}}</td>
      <td>{{ user.country }}</td>
      <td>{{user.createDate | date:'longDate'}}</td>
    </tr>
    </table>
    
  </mat-card-content>
</mat-card>

<button class="add-user-btn" mat-fab color="primary" matTooltip="Add user" matTooltipPosition="above"
matTooltipHideDelay="1000"
(click)="openDialog()">
    <mat-icon>person_add</mat-icon>
  </button>
