<div class="mat-elevation-z8 mt-32">
  <mat-card-header><h2>Orders</h2></mat-card-header>
  <mat-table class="full-width-table" matSort aria-label="Elements">
    <!-- Create Date Column -->
    <ng-container matColumnDef="createDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Create Date</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.createDate | date: "longDate"}}</mat-cell>
    </ng-container>

    <!-- Product Name Column -->
    <ng-container matColumnDef="productId">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Product Name</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.productId}}</mat-cell>
    </ng-container>
    
    <!-- Amount Name Column -->
    <ng-container matColumnDef="amount">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Product Name</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.amount}}</mat-cell>
    </ng-container>

    <!-- Product Pricer Name Column -->
    <ng-container matColumnDef="productPrice">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Product Name</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.productPrice}} €</mat-cell>
    </ng-container>

    <!-- Revenue Name Column -->
    <ng-container matColumnDef="revenue">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Product Name</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.revenue}} €</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator
      [length]="dataSource?.data?.length"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]"
      aria-label="Select page">
  </mat-paginator>
</div>
